.section{
    width: 100vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: 40%;
}